# Laboratorio 1 - Práctica 2.
### Gonzalo de las Heras de Matías - Jorge de la Fuente Tagarro
## Patrones secuenciales

![title](Images/img.jpg)

### Objetivo 

La biblioteca de la Universidad está pensando en reordenarla de manera que los usuarios pierdan el menos
tiempo posible buscando lo que necesitan. Basándose en el orden de consulta de varias fuentes, pretende que
la información esté lo más próxima posible entre ella. Para ello disponemos del Dataset library.csv que tiene
información del orden de consulta que ha realizado cada usuario. En cada registro tendremos el id del usuario,
el momento en que empezó a consultar la información (en milisegundos) y las fuentes consultadas.
Implementar el algoritmo GSP para obtener patrones secuenciales.

#### Librerias

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import warnings
import re
from matplotlib.pyplot import cm
from AprioriSeq import APrioriSeq
from IPython.display import clear_output
warnings.filterwarnings('ignore')

#### Funciones

In [2]:
def Parser(Cadena):
    caracteres_eliminar = [
           "a","b","c","d","e","f","g","h","i","k",
           "l","m","n","o","p","q","r","s","t","u",
           "v","w","x","y","z", "-", "_", "0", "1",
           "2", "3", "4", "5", "6", "7", "8", "9",".", "%"]
    array = re.split(';|\t', Cadena) 
    row = np.array(array[3:])
    row_d = np.delete(row, np.where(row == "NULL"), axis=0)
    for caracter in caracteres_eliminar:
        row_d = np.delete(row_d, np.where(row_d == caracter), axis=0)
        row_d = np.unique(row_d, axis=0)
    return np.array([array[0], array[1], array[2], np.array(row_d)], dtype=object)

<font color="blue">Antes de ejecutar el algoritmo apriori con el dataset de la biblioteca, probaremos la librería con 1 dataset de prueba estableciendo una frecuencia de soporte mínima para comprobar el correcto funcionamiento de la librería.</font>

## Dataset dummy
<br>
<font color="blue">Establecemos una frecuencia soporte mínima de 2.</font>

In [3]:
apriori = APrioriSeq()
apriori.ExcelPrueba("Datos/dummy.xlsx")
apriori.CalcularReglasDeConfianza(FreSoporteMin=2, Echo=False)

Iniciando algoritmo apriori para patrones de asociación...

Itemset:

   0
0  A
1  B
2  C
3  D
4  E
5  F
6  G

-------

Probando k = 1
Calculando combinaciones
Calculando Frec.Soporte
Calculando Soporte

  Item  Frec. Soporte  Soporte
0  [A]              4      0.8
1  [B]              5      1.0
2  [C]              3      0.6
3  [D]              4      0.8
5  [F]              4      0.8
6  [G]              4      0.8

-------

Probando k = 2
Calculando combinaciones
Calculando Frec.Soporte
Calculando Soporte
Filtrando Soporte mínimo >= 2

      Item  Frec. Soporte  Soporte
0   [A, B]              2      0.4
1   [A, C]              3      0.6
2   [A, D]              3      0.6
3   [A, F]              2      0.4
4   [A, G]              2      0.4
5   [B, C]              2      0.4
6   [B, D]              4      0.8
7   [B, F]              3      0.6
8   [B, G]              4      0.8
9   [C, D]              3      0.6
10  [F, A]              2      0.4
11  [F, B]              2      0.4
12  [F, C]              2      0.4
13  [F, D]              3      0.6
14  [G, D]              3      0.6
15    [AB]              2      0.4

-------

Probando k = 3
Calculando combinaciones
Calculando Frec.Soporte
Calculando Soporte
Filtrando Soporte mínimo >= 2

         Item  Frec. Soporte  Soporte
0   [A, B, D]              2      0.4
1   [A, B, F]              2      0.4
2   [A, B, G]              2      0.4
3   [A, C, D]              3      0.6
4   [A, F, D]              2      0.4
5   [A, G, D]              2      0.4
6   [B, C, D]              2      0.4
7   [B, F, D]              2      0.4
8   [B, G, D]              3      0.6
9     [F, AB]              2      0.4
10  [F, C, D]              2      0.4

-------

Probando k = 4
Calculando combinaciones
Calculando Frec.Soporte
Calculando Soporte
Filtrando Soporte mínimo >= 2

           Item  Frec. Soporte  Soporte
0  [A, B, F, D]              2      0.4
1  [A, B, G, D]              2      0.4

Terminado

<br>
<font color="blue">Las secuencias candidatas que cumplen la frecuencia soporte mínima son A, B, F, D y A, B, G, D.</font>

## Dataset librería
<br>
<font color="blue">Primero tenemos que preparar el dataset para que sea admitido por la librería de AprioriSeq.</font>

In [4]:
Fichero = "Datos/Datos.json"
try:
    Dataframe = pd.read_json(Fichero)
    print("Fichero cargado con éxito.")
except:
    print("No existe el fichero: " + Fichero)
    print("Creando fichero de datos...")
    Dataframe = pd.read_csv("Datos/library.csv")
    Datos = pd.DataFrame(columns=["id", "timestamp", "seconds", "sources"])
    for index, row in Dataframe.iterrows():
        clear_output(wait=True)
        print(index)
        Datos.loc[index] = Parser(Dataframe.iloc[index,0])
    Datos.to_json(Fichero)
    print("Fichero creado con éxito.")
    Dataframe = pd.read_json(Fichero)
    print("Fichero cargado con éxito.")
Dataframe = Dataframe[Dataframe["id"] != "NULL"]
Dataframe = Dataframe.groupby('id')['sources'].apply(list)
Dataframe = Dataframe.reset_index(drop=False)
del Dataframe['id']
print("Hay " + str(len(Dataframe)) + " registros.")

Fichero cargado con éxito.
Hay 14244 registros.

<font color="blue">Ya tenemos preparado el dataset para ser procesado por la librería de AprioriSeq.</font>

In [5]:
apriori = APrioriSeq()
apriori.CargaDataframe(Datos=Dataframe, Columna="sources")
apriori.CalcularReglasDeConfianza(FreSoporteMin=200, Echo=False)

,sources,items
0,"[[Arithmetic, Fundamental_theorem_of_arithmeti...","[Arithmetic, Fundamental_theorem_of_arithmetic..."
1,"[[Animal, Cambrian, Dinosaur, Fossil, Scientif...","[[Africa, Erwin_Rommel, North_Africa, Zimbabwe..."
2,"[[Blitzkrieg, Canada, Cold_War, NATO, Nazi_Ger...","[Blitzkrieg, Canada, Cold_War, NATO, Nazi_Germ..."
3,"[[Animal, Biology, Chemistry, Ecology, Extinct...","[Animal, Biology, Chemistry, Ecology, Extincti..."
4,"[[Ancient_Greece, Europe, Geography, Malta, So...","[[Ancient_Greece, Europe, Geography, Malta, So..."
5,"[[Bob_Dylan, Europe, Germany, John_F._Kennedy,...","[[Asteroid, British_Isles, Bronze_Age, Iron_Ag..."
6,"[[Chocolate, Computer, Dog, Industry, Telephone]]","[Chocolate, Computer, Dog, Industry, Telephone]"
7,"[[Akkadian_Empire, Babylonia, Cambodia, Hammur...","[Akkadian_Empire, Babylonia, Cambodia, Hammura..."
8,"[[Batman, Sun, Superman, Vitamin_D], [Baghdad,...","[[Adolf_Hitler, Africa, American_Civil_War, An..."
9,"[[Eye, Grand_Central_Terminal, Human, New_York...","[Africa, Asia, Eye, Grand_Central_Terminal, Ho..."
10,"[[Barcelona, Basketball, Europe, Italy, Michae...","[Barcelona, Basketball, Europe, Italy, Michael..."
11,"[[Berlin, Berlin_Wall, Olympic_Games], [Democr...","[[13th_century, 14th_century, 15th_century, 16..."
12,"[[Achilles, Atlantic_Ocean, Black_Sea, Great_B...","[Achilles, Atlantic_Ocean, Black_Sea, Great_Ba..."
13,"[[Literature, Novel, Renaissance, Weapon], [Ba...","[[Bald_Eagle, Cold_War, Democratic_Republic_of..."
14,"[[Color, Crystal, Light, Rainbow, Skiing, Snow...","[[16th_century, Europe, Gas_turbine-electric_l..."
15,"[[Dallas%2C_Texas, Federal_Bureau_of_Investiga...","[[Absolute_zero, Albert_Einstein, Aristotle, E..."
16,"[[Chris_Evert, Olympic_Games, Seoul, Tennis], ...","[[Alfred_Nobel, Detroit%2C_Michigan, Economics..."
17,"[[Canada, Hubbard_Glacier, Luxembourg, NATO], ...","[[Anschluss, Mass_media, Nazi_Germany, Newspap..."
18,"[[Ancient_Greece, Cardiff, Parthenon, Rome]]","[Ancient_Greece, Cardiff, Parthenon, Rome]"
19,"[[Abraham_Lincoln, Actor, American_Civil_War, ...","[Abraham_Lincoln, Actor, American_Civil_War, B..."
20,"[[English_language, Football, Great_Britain, S...","[English_language, Football, Great_Britain, Sc..."
21,"[[England, Mathematics, Probability_theory, St...","[England, Mathematics, Probability_theory, Sta..."
22,"[[Automobile, Friedrich_Nietzsche, Germany, Ph...","[[Automobile, Friedrich_Nietzsche, Germany, Ph..."
23,"[[Algorithm, Evolution, Fractal, Punctuated_eq...","[[Agriculture, Fruit, Jew, Marie_Curie, Peanut..."
24,"[[Adenosine_triphosphate, Energy, Peafowl, Pho...","[Adenosine_triphosphate, Energy, Peafowl, Phot..."
25,"[[Austria, History_of_Arizona, World_War_II]]","[Austria, History_of_Arizona, World_War_II]"
26,"[[Brain, Communication, Computer_science, Info...","[[Actor, Africa, Animation, Film, Herbivore, L..."
27,"[[Earth, Moon, Season], [Australia, Indonesia,...","[[Australia, Indonesia, Kiribati, Nauru, Pacif..."
28,"[[Florida, Hurricane_Ivan, Rhode_Island, U.S._...","[Florida, Hurricane_Ivan, Rhode_Island, U.S._s..."
29,"[[Bread, Cereal, Food, Islam, Meat, North_Afri...","[[16th_century, Art, Literature, Poetry, Super..."
...,...,...
14214,"[[Chocolate, Cocoa]]","[Chocolate, Cocoa]"
14215,"[[Brain, Computer_science, History_of_the_Inte...","[[Brain, Computer_science, History_of_the_Inte..."
14216,"[[Ancient_Rome, Basketball, Greece, Julius_Cae...","[Ancient_Rome, Asteroid, Basketball, British_I..."
14217,"[[Color, Cuba, James_Clerk_Maxwell, Scotland, ...","[[Africa, Desert, Rain, Reed_Warbler, Sun], [A..."
14218,"[[Africa, Europe, Jurassic, Reggae]]","[Africa, Europe, Jurassic, Reggae]"
14219,"[[Demand_Note, Hurricane_Katrina, United_State...","[[15th_century, Edward_VI_of_England, English_..."
14220,"[[Ancient_Rome, Apollo, Capital, La_Paz, Philo...","[Ancient_Rome, Apollo, Capital, La_Paz, Philos..."
14221,"[[Asteroid, Bronze_Age, Europe, Iron_Age, Meta...","[[Agriculture, Bean, Egypt, Pyramid, Seed, Soy..."
14222,"[[Animal, Cattle, Cell_%28biology%29, DNA, Fun...","[[Africa, Alexander_the_Great, Aristotle, Egyp..."
14223,"[[Blaise_Pascal, Country, France, Italy, Vatic...","[Blaise_Pascal, Country, France, Italy, Vatica..."
14224,"[[Alzheimer%27s_disease, Pneumonia, Virus], [A...","[[Alzheimer%27s_disease, Pneumonia, Virus], [A..."
14225,"[[Algebra, I_Want_to_Hold_Your_Hand, Jazz, Lan...","[[Algebra, I_Want_to_Hold_Your_Hand, Jazz, Lan..."
14226,"[[Channel_Islands, Crown_Jewels_of_the_United_...","[[Africa, Bat-eared_Fox, Liberia, New_York_Cit..."
14227,"[[Africa, Augusta%2C_Lady_Gregory, Europe, Ire...","[Africa, Augusta%2C_Lady_Gregory, Europe, Irel..."
14228,"[[Lyme_disease, Nuclear_weapon, United_States,...","[Lyme_disease, Nuclear_weapon, United_States, ..."
14229,"[[Ancient_Egypt, Board_game, China, Chinese_la...","[Ancient_Egypt, Board_game, China, Chinese_lan..."
14230,"[[Belfast, England, Europe, Hungary, Indian_cr...","[Belfast, England, Europe, Hungary, Indian_cri..."
14231,"[[Aquarium, Fish, Goldfish, Hydrogen, Periodic...","[Aquarium, Fish, Goldfish, Hydrogen, Periodic_..."
14232,"[[Arthropod, Dinosaur, Evolution, Ichthyosaur,...","[Arthropod, Dinosaur, Evolution, Ichthyosaur, ..."
14233,"[[Lion, Theatre, United_Kingdom, Zebra]]","[Lion, Theatre, United_Kingdom, Zebra]"
14234,"[[Astronomy, Galaxy, Telescope, Universe]]","[Astronomy, Galaxy, Telescope, Universe]"
14235,"[[Communism, Dmitri_Mendeleev, Germanium, Mosc...","[Communism, Dmitri_Mendeleev, Germanium, Mosco..."
14236,"[[Bat, Bird, Bluegrass_music, Flute, Gull, Sou...","[Bat, Bird, Bluegrass_music, Flute, Gull, Soun..."
14237,"[[Battle_of_Stalingrad, British_Isles, Europea...","[Battle_of_Stalingrad, British_Isles, European..."
14238,"[[Citrus, Fruit, Maize, Protein, Vampire_bat, ...","[[19th_century, 1st_century, 1st_century_BC, 2..."
14239,"[[Aircraft, Computational_chemistry, Computer_...","[Aircraft, Computational_chemistry, Computer_s..."
14240,"[[Microsoft, Microsoft_Windows, United_States,...","[[20th_century, Actor, Animal, Biology, Drama,..."
14241,"[[Argon, Chemistry, Gorilla, Human, Periodic_t...","[Argon, Chemistry, Gorilla, Human, Periodic_ta..."
14242,"[[Anatomy, George_W._Bush, Human, Internationa...","[[American_football, Australian_rules_football..."
14243,"[[Africa, Algeria, Archaeopteryx, Country, Fra...","[[Africa, Algeria, Archaeopteryx, Country, Fra..."

Iniciando algoritmo apriori para patrones de asociación...

Itemset:

                                      0
0                            %C3%85land
1                    %C3%89douard_Manet
2                             %C3%89ire
3        %E2%82%AC2_commemorative_coins
4                          10th_century
5                          11th_century
6                          12th_century
7                          13th_century
8                          14th_century
9        15th_Marine_Expeditionary_Unit
10                         15th_century
11                             16_Cygni
12                          16_Cygni_Bb
13                         16th_century
14               1755_Lisbon_earthquake
15                         17th_century
16                 1896_Summer_Olympics
17                         18th_century
18            1928_Okeechobee_Hurricane
19                      1973_oil_crisis
20    1980_eruption_of_Mount_St._Helens
21                         19th_century
22                              1_Ceres
23                          1st_century
24                       1st_century_BC
25                                2-6-0
26                                2-8-0
27       2003_Atlantic_hurricane_season
28       2004_Atlantic_hurricane_season
29         2004_Indian_Ocean_earthquake
...                                 ...
4139                       Yes_Minister
4140                               Yeti
4141                     Yom_Kippur_War
4142                               York
4143                    Yorkshire_Dales
4144                     Yotsuya_Kaidan
4145                          Ytterbium
4146                            Yttrium
4147                         Yugoslavia
4148                       Yuri_Gagarin
4149                        Z%C3%BCrich
4150                        ZX_Spectrum
4151                     Zachary_Taylor
4152                            Zambezi
4153                             Zambia
4154                              Zebra
4155                        Zebra_shark
4156                               Zeus
4157                         Zhang_Qian
4158                           Zheng_He
4159                        Ziad_Jarrah
4160                           Zimbabwe
4161                               Zinc
4162                      Zinc_chloride
4163                 Zion_National_Park
4164                            Zionism
4165                          Zirconium
4166                          Zoroaster
4167                       Zuid-Gelders
4168                               Zulu

[4169 rows x 1 columns]

-------

Probando k = 1
Calculando combinaciones
Calculando Frec.Soporte
Calculando Soporte

                              Item  Frec. Soporte   Soporte
17                  [18th_century]            201  0.014111
21                  [19th_century]            419  0.029416
34                  [20th_century]            581  0.040789
60                          [AIDS]            215  0.015094
110                 [Adolf_Hitler]            595  0.041772
115                       [Africa]           2083  0.146237
134                  [Agriculture]            872  0.061219
151              [Albert_Einstein]            264  0.018534
197           [American_Civil_War]            228  0.016007
217                [Ancient_Egypt]            397  0.027871
218               [Ancient_Greece]            569  0.039947
219                 [Ancient_Rome]            392  0.027520
243                       [Animal]           1239  0.086984
254                          [Ant]            222  0.015586
258                   [Antarctica]            232  0.016288
275                    [Apollo_11]            208  0.014603
306                    [Aristotle]            267  0.018745
316                          [Art]            482  0.033839
324                         [Asia]            825  0.057919
329                     [Asteroid]           1037  0.072803
332                    [Astronomy]            353  0.024782
337                       [Athens]            214  0.015024
341               [Atlantic_Ocean]            923  0.064799
344                         [Atom]            255  0.017902
356                    [Australia]            769  0.053988
361                      [Austria]            206  0.014462
366                   [Automobile]            238  0.016709
436                          [Bat]            289  0.020289
441                       [Batman]            385  0.027029
475                         [Bean]            659  0.046265
...                            ...            ...       ...
3644                  [Television]            508  0.035664
3666                 [The_Beatles]            282  0.019798
3687               [The_Holocaust]            274  0.019236
3720                     [Theatre]            919  0.064518
3806                        [Tree]            351  0.024642
3825                  [Trojan_War]            222  0.015586
3841            [Tropical_cyclone]            263  0.018464
3875                  [U.S._state]            258  0.018113
3889              [United_Kingdom]           2515  0.176566
3892              [United_Nations]            816  0.057287
3893               [United_States]           4717  0.331157
3896  [United_States_Constitution]            204  0.014322
3903                    [Universe]            298  0.020921
3904                  [University]            208  0.014603
3938                   [Vegetable]            309  0.021693
3945                  [Vertebrate]            262  0.018394
3956                      [Viking]           1063  0.074628
3972                     [Volcano]            315  0.022115
3997                         [War]            877  0.061570
4013                       [Water]            677  0.047529
4025                     [Weather]            237  0.016639
4045                       [Whale]            283  0.019868
4046                 [Whale_shark]            236  0.016568
4083         [William_Shakespeare]            262  0.018394
4103                        [Wood]            224  0.015726
4113   [World_Health_Organization]            211  0.014813
4116                 [World_War_I]            804  0.056445
4117                [World_War_II]           1547  0.108607
4118              [World_Wide_Web]            360  0.025274
4154                       [Zebra]            919  0.064518

[262 rows x 3 columns]

-------

Probando k = 2
Calculando combinaciones
Calculando Frec.Soporte
Calculando Soporte
Filtrando Soporte mínimo >= 200

                                                Item  Frec. Soporte   Soporte
0                      [19th_century, United_States]            224  0.015726
1                      [20th_century, United_States]            294  0.020640
2                            [Adolf_Hitler, Germany]            202  0.014181
3                      [Adolf_Hitler, United_States]            257  0.018043
4                       [Adolf_Hitler, World_War_II]            201  0.014111
5                                   [Africa, Africa]            455  0.031943
6                              [Africa, Agriculture]            241  0.016919
7                                   [Africa, Animal]            289  0.020289
8                                     [Africa, Asia]            250  0.017551
9                                 [Africa, Asteroid]            232  0.016288
10                          [Africa, Atlantic_Ocean]            246  0.017270
11                               [Africa, Australia]            203  0.014252
12                                    [Africa, Bird]            208  0.014603
13                                   [Africa, Brain]            248  0.017411
14                                   [Africa, China]            219  0.015375
15                                [Africa, Computer]            231  0.016217
16                                   [Africa, Earth]            502  0.035243
17                                 [Africa, England]            493  0.034611
18                        [Africa, English_language]            279  0.019587
19                                  [Africa, Europe]            668  0.046897
20                                  [Africa, France]            292  0.020500
21                                 [Africa, Germany]            282  0.019798
22                                   [Africa, Human]            268  0.018815
23                                   [Africa, India]            271  0.019026
24                                  [Africa, Mammal]            292  0.020500
25                           [Africa, North_America]            340  0.023870
26                                   [Africa, Ocean]            203  0.014252
27                          [Africa, Periodic_table]            235  0.016498
28                                   [Africa, Plant]            236  0.016568
29                                  [Africa, Russia]            207  0.014532
..                                               ...            ...       ...
263                   [United_States, North_America]            430  0.030188
264                   [United_States, Pacific_Ocean]            208  0.014603
265    [United_States, People%27s_Republic_of_China]            202  0.014181
266                  [United_States, Periodic_table]            302  0.021202
267                           [United_States, Plant]            273  0.019166
268  [United_States, President_of_the_United_States]            225  0.015796
269                          [United_States, Russia]            286  0.020079
270                         [United_States, Science]            340  0.023870
271                    [United_States, Solar_System]            227  0.015937
272                   [United_States, South_America]            209  0.014673
273                             [United_States, Sun]            205  0.014392
274                       [United_States, Telephone]            271  0.019026
275                  [United_States, United_Kingdom]            742  0.052092
276                  [United_States, United_Nations]            291  0.020430
277                   [United_States, United_States]           1617  0.113521
278                          [United_States, Viking]            226  0.015866
279                           [United_States, Water]            239  0.016779
280                     [United_States, World_War_I]            272  0.019096
281                    [United_States, World_War_II]            541  0.037981
282                                 [Viking, Europe]            205  0.014392
283                         [Viking, United_Kingdom]            208  0.014603
284                          [Viking, United_States]            327  0.022957
285                           [Water, United_States]            217  0.015234
286                            [World_War_II, Earth]            247  0.017341
287                          [World_War_II, England]            255  0.017902
288                           [World_War_II, Europe]            309  0.021693
289                   [World_War_II, United_Kingdom]            299  0.020991
290                    [World_War_II, United_States]            499  0.035032
291                     [World_War_II, World_War_II]            260  0.018253
292                           [Zebra, United_States]            281  0.019728

[293 rows x 3 columns]

-------

Probando k = 3
Calculando combinaciones
Calculando Frec.Soporte
Calculando Soporte
Filtrando Soporte mínimo >= 200

                                               Item  Frec. Soporte   Soporte
0                   [Africa, Africa, United_States]            251  0.017621
1                    [Africa, Earth, United_States]            252  0.017692
2                  [Africa, England, United_States]            246  0.017270
3                          [Africa, Europe, Europe]            236  0.016568
4                  [Africa, Europe, United_Kingdom]            236  0.016568
5                   [Africa, Europe, United_States]            305  0.021413
6            [Africa, North_America, United_States]            200  0.014041
7          [Africa, United_Kingdom, United_Kingdom]            204  0.014322
8           [Africa, United_Kingdom, United_States]            267  0.018745
9                    [Africa, United_States, Earth]            205  0.014392
10                 [Africa, United_States, England]            239  0.016779
11                  [Africa, United_States, Europe]            262  0.018394
12          [Africa, United_States, United_Kingdom]            261  0.018324
13           [Africa, United_States, United_States]            421  0.029556
14           [Animal, United_States, United_States]            224  0.015726
15   [Atlantic_Ocean, United_States, United_States]            208  0.014603
16                    [Earth, Earth, United_States]            215  0.015094
17                   [Earth, Europe, United_States]            210  0.014743
18            [Earth, United_States, United_States]            276  0.019377
19                [England, England, United_States]            216  0.015164
20                 [England, Europe, United_States]            214  0.015024
21         [England, United_Kingdom, United_States]            232  0.016288
22          [England, United_States, United_States]            298  0.020921
23                   [Europe, Earth, United_States]            205  0.014392
24                 [Europe, England, United_States]            215  0.015094
25                 [Europe, Europe, United_Kingdom]            215  0.015094
26                  [Europe, Europe, United_States]            269  0.018885
27          [Europe, United_Kingdom, United_States]            244  0.017130
28                  [Europe, United_States, Europe]            227  0.015937
29          [Europe, United_States, United_Kingdom]            220  0.015445
30           [Europe, United_States, United_States]            367  0.025765
31          [Germany, United_States, United_States]            201  0.014111
32    [North_America, United_States, United_States]            255  0.017902
33         [United_Kingdom, England, United_States]            201  0.014111
34          [United_Kingdom, Europe, United_States]            225  0.015796
35  [United_Kingdom, United_Kingdom, United_States]            238  0.016709
36  [United_Kingdom, United_States, United_Kingdom]            212  0.014883
37   [United_Kingdom, United_States, United_States]            332  0.023308
38            [United_States, Earth, United_States]            299  0.020991
39          [United_States, England, United_States]            310  0.021764
40                  [United_States, Europe, Europe]            253  0.017762
41          [United_States, Europe, United_Kingdom]            232  0.016288
42           [United_States, Europe, United_States]            371  0.026046
43    [United_States, North_America, United_States]            248  0.017411
44          [United_States, United_Kingdom, Europe]            219  0.015375
45  [United_States, United_Kingdom, United_Kingdom]            229  0.016077
46   [United_States, United_Kingdom, United_States]            351  0.024642
47            [United_States, United_States, Earth]            258  0.018113
48          [United_States, United_States, England]            299  0.020991
49           [United_States, United_States, Europe]            327  0.022957
50    [United_States, United_States, North_America]            220  0.015445
51   [United_States, United_States, United_Kingdom]            320  0.022466
52     [United_States, United_States, World_War_II]            225  0.015796
53     [United_States, World_War_II, United_States]            231  0.016217
54     [World_War_II, United_States, United_States]            244  0.017130

Terminado

<font color="blue">Tras varias ejecuciones del algoritmo con distintos valores mínimos de frecuencia soporte, escogemos 200. Esto se debe a que si es más bajo, las secuencias candidatas obtenidas son muy largas, conllevando mucho tiempo de ejecución y las secuencias no dan mucha información. En cambio, si es más alto, obtenemos muy pocas secuencias candidatas que son muy cortas y dan poca información. 
<br><br>
Observando las secuencias candidatas nos damos cuenta que los patrones secuenciales de búsquedas tienen que ver con países de la segunda guerra mundial.
</font>